@import "tailwindcss";
@config "../tailwind.config.ts";

@theme {
  --breakpoint-xs: 22rem;
  --breakpoint-3xl: 112rem;
  --breakpoint-4xl: 128rem;
}

body{
  background-color: #0c0c0c;
  margin: 0;
}
:root {
  font-size: 20px;
}
